@font-face {
    font-family: Athelas-Bold;
    src: url(../fonts/Athelas/Athelas-Bold.ttf);
}
@font-face {
    font-family: Athelas-Bold-Italic;
    src: url(../fonts/Athelas/Athelas-BoldItalic.ttf);
}
@font-face {
    font-family: Athelas-Italic;
    src: url(../fonts/Athelas/Athelas-Italic.ttf);
}
@font-face {
    font-family: Athelas;
    src: url(../fonts/Athelas/Athelas-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Athelas;
}
body{
    font-family: Athelas;
}
.header {
    background: #202020;
}
.header-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-left-img {

}
.header-left-img-content {

}
.header-img{
    height: 100vh;
    display: block;
}
.header-right-text {
    width: 100%;
    height: 100vh;
    /* background: red; */
}
.header-right-text-content {
    /* background: blue; */
    height: 100%;
    display: flex;
    flex-direction: column;

}
.header-menu {
    /* background: green; */
    /* padding: 10px; */

}
.header-menu-content {
    background: #202020;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}
.header-menu-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: purple; */
}
.header-menu-li, .header-menu-li-logo {
    /* background: lawngreen; */
    color: white;
    text-decoration: none;
}
.header-menu-li-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.menu-li-logo {
    width: 50px;
    margin-bottom: 5px;
}
.header-right-text-block {
    text-align: center;
    padding: 30px;
    /* background: brown; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-right-text-h1 {
}
.header-h1 {
    font-size: 55px;
    font-family: Athelas-Bold;
    letter-spacing: 7px;
}
.header-right-text-p {
    
}
.header-p {
    font-size: 28px;
    letter-spacing: 3px;
}
.header-p2{
    font-size: 20px;
    font-family: Athelas-Italic;
    margin-top: 30px;
}
.header-right-text-btn {
    margin-top: 40px;
}

.header-btn {
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px 40px;
    cursor: pointer;
    background: white;
    transition: 0.5s;
}
.header-btn:hover{
    background: #cdcdcd;
    scale: 1.05;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.sec2 {
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec2-content {
    display: flex;
    justify-content: center;
    padding: 50px 50px 0 50px;
}
.sec2-left {
    width: 50%;
    /* margin-top: 100px; */
}
.sec2-left-content {


}
.sec2-left-about {

}
.about-us-h1 {
    font-size: 36px;
}
.about-us-p{
    font-size: 24px;
}
.stars-5{
    display: flex;
    align-items: center;

}
.about-us-p, .why-p, .deadline-p{
    width: 60%;
    margin-top: 15px;
    font-size: 20px;
}
.sec2-left-why {
    margin-top: 50px;

}
.why-h2 {
    font-size: 36px;
}
.sec2-left-deadline {
    margin-top: 50px;

}
.deadline-h2 {
    font-size: 36px;
}

.sec2-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sec2-right-content {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec2-photos {

    width: 100%;
    height: 100%;
    margin: 0;padding: 0;
}
.sec2-photo1 {
    width: 60%;
    min-height: 400px;
    background: url(../img/zamer.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    border-radius: 15px;
}

.sec2-photo2 {
    width: 60%;
    height: 400px;
    background: url(../img/tubes.jpg);
    background-size: cover;
    background-position: center left;
    position: relative;
    left: 200px;
    top: -100px;
    z-index: 0;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    border-radius: 15px;
}
.sec2-photo1:hover, .sec2-photo2:hover{
    width: 62%;
    scale: 1.1;
    box-shadow: 2px 2px 10px black;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.sec3 {
    /* background: red; */
}
.sec3-content {
    padding: 50px;
    /* background: green; */
}
.sec3-h1{
    font-size: 40px;
    text-align: left;
}
.gallery {
    /* background: blue; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-left {
    /* background: palegreen; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ph1-left{
    background: url(../img/IMG_4502.HEIC);
    width: 250px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center center;
}

.ph2-left{
    background: url(../img/IMG_4423.HEIC);
    width: 250px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center center;

}

.gallery-center {
    /* background: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.ph3-center{
    background: url("../img/IMG_7411 2.JPG");
    width: 600px;
    height: 510px;
    margin: 5px;
    background-size: cover;
    background-position: center center;
}

.gallery-right {
    /* background: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ph4-right{
    background: url("../img/IMG_8499 2.DNG");
    width: 250px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center center;
}

.ph5-right{
    background: url("../img/IMG_4928 2.heic");
    width: 250px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center center;
}

.ph1-left, .ph2-left, .ph3-center, .ph4-right, .ph5-right{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.sec4-uslugi {
    background: #FFF0E0;
}
.sec-4-content {
    padding: 50px;

}
.h2-uslugi {
    font-size: 40px;
    text-align: left;
}
.sec4-cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4-card-1 {

    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    transition: 0.5s;
}
.sec4-card-1:hover{
    scale: 1.1;
}
.sec4-card1-img, .sec4-card1-img2, .sec4-card1-img3{
    width: 350px;
    height: 500px;
    background: url(../img/zamer.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
}

.sec4-card1-img2{
    background: url(../img/IMG_9957.png);
    background-position: center;
    background-size: cover;
}
.sec4-card1-img3{
    background: url(../img/IMG_7352.png);
    background-position: center;
    background-size: cover;
}
.sec4-h2 {
    margin-top: 15px;
    font-size: 20px;
    font-family: Athelas-Regular;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.feedback {
    /* background: red; */
}
.fb-content {
    /* background: green; */
    padding: 50px;
}
.fb-h2 {
    font-size: 40px;
    text-align: left;
}
.fb-cards {
    margin-top: 50px;
    /* background: blue; */
    display: flex;

}
.fb-card1 {
    /* background: lawngreen; */
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    transition: 0.5s;
}
.fb-card1:hover{
    scale: 1.1;
}
.fb-card1-img {
    width: 280px;
    height: 320px;
    border-radius: 30px;
    background: url(../img/otzyv1.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.fb-card1-img2{
    width: 280px;
    height: 320px;
    border-radius: 30px;
    background: url(../img/otzyv2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.fb-card1-img3{
    width: 280px;
    height: 320px;
    border-radius: 30px;
    background: url(../img/otzyv3.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.fb-card1-img4{
    width: 280px;
    height: 320px;
    border-radius: 30px;
    background: url(../img/otzyv4.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.fb-card1-h3 {
    margin-top: 30px;
}
.fb-card1-rating {
}
.fb-card1-span {
    margin-right: 10px;
}
.fb-card1-ul {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.fb-card1-li {
    background: url(../img/star.svg);
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 15px;
}
.fb-card1-p {
    margin-top: 15px;
}


/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.work_at_contract {
    padding: 30px;
    /* background: fuchsia; */
    background: #F6F6F6;
}
.wac_content {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red; */
}
.wac_text {
    /* background: blue; */
    
}
.wac_text_h3 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-family: Athelas;
    font-weight: normal;
}
.wac_cards {
    /* background: green; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wac_card_1 {
    /* background: purple; */
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    transition: 0.5s;
}
.wac_card_1:hover{
    scale: 1.1;
    .wac_card_img{
        box-shadow: 0 0 15px #f1a73f;
    }
}
.wac_card_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    
    transition: 0.3s;
}
.wac_card_h4 {
    margin-top: 15px;
    text-align: center;
    
}
.wac_card_p {
    margin-top: 5px;
    text-align: center;
}


/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* f1a73f */

.contacts {
    /* background: red; */
    background: linear-gradient(to right,#202020,#f1a73f);
    /* padding: 30px; */
    color: white;
}
.contacts-content {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: green; */
}
.cont-left {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 0 ;
}
.cont-h2 {
    font-size: 30px;
    max-width: 490px;

}
.cont-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.cont-form input{
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    transition: 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.cont-form input:focus{
    box-shadow: 0 0 15px #f1a73f;
}
.cont-btn {
    margin-top: 5px;
    max-width: 150px;
    padding: 15px 15px;
    margin-bottom: 5px;
    border-radius: 15px;
    border: none;
    background: white;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}
.cont-btn:hover{
    background: #202020;
    color: white;
    box-shadow: 0 0 10px #f1a73f;
}
.cont-links {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-social img{
    width: 45px;
    margin: 5px;
}

.cont-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;  
}
.cont-phone a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;  
    color: white;
}
.cont-phone img{
    width: 35px;
    margin-right: 10px;
}
.cont-right {
    height: 700px;
    width: 700px;
    /* height: 100%; */
    /* width: 100%; */
    background: url(../img/zamer2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.cont-img {
    max-width: 800px;
    /* background: #000; */
    margin: 0;
    padding: 0;
    display: block;
}